@model bigbus.checkout.Models.OrderConfirmationVm

@{
    ViewBag.Title = "Completed";
}

<h2>Checkout Completed</h2>

<p>
    Dear user,<br/>
    Thank you for buying from us.
    <em style="border: 1px solid red; padding: 5px;">
        <a href="~/ViewVoucher.aspx?oid=@Model.OrderId">View your voucher</a>
    </em>
</p>


