<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BaseUrl" value="http://checkout.bigbustoursdev.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BornBaseUrl" value="http://bigbustoursdev.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BasketApiUrl" value="checkout/cart/?session={0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Session.CookieDomain" value=".bigbustoursdev.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PciWebsite.Domain" value="http://secure.bigbustoursdev.com:62176/{0}/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PciWebsite.ApiDomain" value="http://secure.bigbustoursdev.com:62176/api/{0}/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Environment" value="2" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="IntileryAccountId" value="117" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BornAddMoreTicketUrl" value="http://bigbustoursdev.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BornHomeTicketUrl" value="http://bigbustoursdev.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BornBaseInsecureUrl" value="http://{0}.bigbustoursdev.com/{1}/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PayPal.CancelURL" value="http://checkout.bigbustoursdev.com/Checkout/CancelBookingPayPal" />
    <add key="PayPal.SuccessURL" value="http://checkout.bigbustoursdev.com/Checkout/BookingSuccessPaypal" />
    <add key="Testing" value="0"/>
    
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="BigBusDataModelConn" connectionString="data source=192.168.111.25;initial catalog=BigBus;persist security info=True;user id=BigBus;password=dB892925488527243557497265896744822;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>