<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Session.CookieDomain" value=".bigbustoursdev.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BaseUrl" value="http://checkout.bigbustoursdev.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BasketApiUrl" value="http://bigbustoursdev.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="PciWebsite.Domain" value="http://secure.bigbustoursdev.com:62176/{1}/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PciWebsite.ApiDomain" value="http://secure.bigbustoursdev.com:62176/api/{1}/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BornAddMoreTicketUrl" value="http://bigbustoursdev.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BornHomeTicketUrl" value="http://bigbustoursdev.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BornBaseInsecureUrl" value="http://{0}bigbustours.com/{1}/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AffiliateWindow-IsTest" value="1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Environment" value="2" />
    <add key="IntileryAccountId" value="117" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="BBConnString" connectionString="Data Source=192.168.111.25;Initial Catalog=BigBus;User Id=BigBus;Password=dB892925488527243557497265896744822" providerName="Provider=SQLNCLI10;" />
  </connectionStrings>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>