<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="bigbus.checkout.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="BigBusDataModelConn" connectionString="data source=192.168.111.26;initial catalog=BigBus;persist security info=True;user id=sa;password=burr0ugh;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="BigBusDataModelConn" connectionString="data source=DESKTOP-OUUV86G;initial catalog=BigBus;persist security info=True;user id=sa;password=steelpan60;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="BaseUrl" value="http://checkout.localdev.com/" />
    <!-- need transformation for live -->
    <add key="BasketApiUrl" value="Api/MagentoTest/2" />
    <add key="Session.CookieName" value="NCK_SessionId" />
    <add key="Session.CookieDomain" value=".localdev.com" />
    <!-- need transformation for live -->
    <add key="External.Basket.CookieName" value="frontend" />
    <add key="Basket.CookieName" value="basketId" />
    <add key="PciWebsite.Domain" value="http://{0}.secure.localdev.com:62176/{1}/" />
    <!-- need transformation for live -->
    <add key="PciWebsite.ApiDomain" value="http://{0}.secure.localdev.com:62176/api/{1}/" />
    <!-- need transformation for live -->
    <add key="Environment" value="1" />
    <!-- need transformation for live -->
    <add key="LiveEcrEndPoint" value="http://bbcagents.ecr.bg/Api.svc" />
    <add key="EcrCCDevEmails" value="joe.bolla@wpnchameleon.co.uk,janki.chotai@wpnchameleon.co.uk" />
    <add key="EcrApiKey" value="1q-psWDffplAr1fgJAX_HVfH36eCs3z9MqXeM-hWHao" />
    <add key="EcrAgentCode" value="Chameleon" />
    <add key="EcrAgentUiId" value="164F2D63-F0B8-450F-8C86-CB5229B3268C" />
    
    <add key="PciWebsite.LandingPagePath" value="Payment/" />
    <add key="GoogleChartUrl" value="https://chart.googleapis.com/chart?cht=qr&amp;chs=250x250&amp;chl={0}" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="Default.Language" value="eng" />

    <!-- all paypal entries need transformation for live -->
    <add key="PayPal.Username" value="louise_1256829700_biz_api1.chameleonnet.co.uk" />
    <add key="PayPal.Password" value="1256829848" />
    <add key="PayPal.Signature" value="ABvmCdrL.S09XtS0LDYUVLabVVAIA7oNe6QWpE.y-op9nyE-pTkKm-UI" />
    <add key="PayPal.CancelURL" value="http://checkout.localdev.com/Checkout/CancelBookingPayPal" />
    <add key="PayPal.SuccessURL" value="http://checkout.localdev.com/Checkout/BookingSuccessPaypal" />
    <add key="PayPal.RealEndPoint" value="https://api-3t.sandbox.paypal.com/nvp" />
    <add key="PayPal.ExpressCheckoutEndPoint" value="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_express-checkout" />
    <add key="PayPal.InTestMode" value="true" />
    <add key="FileUploadPath" value="UploadedImages" />
    <add key="IntileryAccountId" value="0" />
    <add key="BornAddMoreTicketUrl" value="~/default.aspx"/>

    <add key="View.Voucher" value="ViewVoucher.aspx?oid={0}&amp;file.pdf" />
    <add key="BornBaseInsecureUrl" value="http://{0}bigbustours.com/{1}/" /><!--Transform-->
    <add key="TermAndCo.Url" value="privacy-policy.html?browser=true" />
    <add key="Privac.Url" value="privacy-policy.html?browser=true" />
    <add key="AppStore.Url" value="https://itunes.apple.com/{0}/app/big-bus-tours-interactive/id590746945?mt=8&amp;ign-mpt=uo=4"/>
    <add key="GooglePlay.Url" value="https://play.google.com/store/apps/details?id=com.bigbustours.bbt{0}" />
    <!-- use custom config -->
    <add key="Dubai_Telephone" value="971 (0) 4 340 7709" />
    <add key="Dubai_Email" value="infodubai@bigbustours.com" />
    <add key="London_Telephone" value="(0) 20 7808 6753" />
    <add key="London_Email" value="info@bigbustours.com" />
    <add key="Rome_Telephone" value="(0) 20 7808 6753" />
    <add key="Rome_Email" value="info@bigbustours.com" />
    <add key="Philadelphia_Telephone" value="(1) 215 389 8687" />
    <add key="Philadelphia_Email" value="infophiladelphia@bigbustours.com" />
    <add key="HongKong_Telephone" value="852 2723 2108" />
    <add key="HongKong_Email" value="infohk@bigbustours.com" />
    <add key="Shanghai_Telephone" value="(86) 21 6351 5988" />
    <add key="Shanghai_Email" value="infoshanghai@bigbustours.com" />
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="Handle UploadedImages" path="UploadedImages/*" verb="*" type="bigbus.checkout.Helpers.GenericImageHandler,bigbus.checkout" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <add name="ContainerDisposal" type="Autofac.Integration.Web.ContainerDisposalModule, Autofac.Integration.Web" preCondition="managedHandler" />
      <add name="PropertyInjection" type="Autofac.Integration.Web.Forms.PropertyInjectionModule, Autofac.Integration.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <bigbus.checkout.Properties.Settings>
      <setting name="bigbus_checkout_EcrServiceRef_Api" serializeAs="String">
        <value>http://bbcagents.ecr.bg/Api.svc</value>
      </setting>
      <setting name="bigbus_checkout_EcrWServiceRefV3_Api" serializeAs="String">
        <value>http://bbcapi.ecr.io/3/Api.svc</value>
      </setting>
    </bigbus.checkout.Properties.Settings>
  </applicationSettings>
</configuration>